<div class="col-12 col-md-8 col-lg-6 col-xl-5">
  <div class="card shadow-2-strong" style="border-radius: 1rem">
    <div class="card-body p-5">
      <div class="text-center">
        <img class="p-4" src="/assets/images/logo_rgb.svg" alt="Logo" />
      </div>
      <form
        class="needs-validation"
        #userRegistrationForm="ngForm"
        autocomplete="off"
        (submit)="onSubmit(userRegistrationForm)"
        novalidate
      >
        <div class="form-floating mb-3">
          <input
            #Email="ngModel"
            name="Email"
            [(ngModel)]="account.email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
          />
          <label for="floatingInput">El.paštas</label>
        </div>
        <div class="form-floating mb-3">
          <select
            [(ngModel)]="account.role"
            name="role"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="Admin">Admin</option>
            <option value="User" selected>User</option>
          </select>
          <label for="floatingInput">Rolė</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            #Password="ngModel"
            name="Password"
            [(ngModel)]="account.password"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label data-error="Privalomas laukas!" for="floatingPassword"
            >Slaptažodis</label
          >
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            #Password="ngModel"
            name="Password"
            [(ngModel)]="account.confirmPassword"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label data-error="Privalomas laukas!" for="floatingPassword"
            >Patvirtinti slaptažodi</label
          >
        </div>

        <div class="d-grid gap-2 mt-3">
          <button
            [disabled]="!userRegistrationForm.valid"
            class="btn btn-primary pt-2 pb-2"
            type="submit"
          >
            Pridėti naują vartotoją
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
