<div class="card">
  <div class="card-head">
    Kandidatų sąrašas
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary float-end m-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Show Technologies
    </button>

    <!-- Show Technology Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Technologies</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-add-edit-delete-technology></app-add-edit-delete-technology>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary float-end m-2"
      tabindex="-1"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      <span class="material-icons-sharp"> add </span>
    </button>

    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      aria-labelledby="addModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Kandidato pridėjimas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <app-add-edit-candidate></app-add-edit-candidate>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-candidate-table></app-candidate-table>
  </div>
</div>
