<form
  #addCandidateForm="ngForm"
  autocomplete="off"
  (submit)="AddCandidate(addCandidateForm)"
  novalidate
>
  <div class="mb-3">
    <div class="mb-3">
      <div class="p-field">
        <label for="date1">Icon</label>
        <p-calendar
          [(ngModel)]="contactedDate"
          [showIcon]="true"
          inputId="icon"
          [ngModelOptions]="{ standalone: true }"
        ></p-calendar>
      </div>
    </div>
    <div class="mb-3">
      <div class="p-field">
        <label for="date1">Icon</label>
        <p-calendar
          [(ngModel)]="meetDate"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
    </div>

    <div class="mb-3">
      <div class="p-field">
        <label for="username1">Vardas</label>
        <input id="username1" type="username" pInputText />
      </div>
      <div class="p-field">
        <label for="username1">Pavardė</label>
        <input id="username1" type="username" pInputText />
      </div>
    </div>

    <div class="mb-3">
      <div class="p-field">
        <label for="username1">LinkedIn Url</label>
        <input id="username1" type="username" pInputText />
      </div>
    </div>

    <div class="mb-3">
      <div class="p-field">
        <label for="username1">Komentaras</label>
        <textarea rows="5" cols="30" pInputTextarea></textarea>
      </div>
    </div>

    <div class="mb-3">
      <p-toggleButton
        onIcon="pi pi-check"
        offIcon="pi pi-times"
      ></p-toggleButton>
    </div>

    <span class="p-float-label">
      <p-multiSelect [options]="technologyOptions"></p-multiSelect>
      <label for="multiselect">MultiSelect</label>
    </span>
  </div>
  <button type="submit" class="btn btn-primary">Prideti</button>
</form>
