<form
  #AddCandidateForm="ngForm"
  autocomplete="off"
  (submit)="AddCandidate(AddCandidateForm)"
  novalidate
>
  <div class="row mb-3">
    <div class="col">
      <div class="p-field">
        <label class="mb-1" for="name">Vardas</label>
        <input
          id="name"
          [(ngModel)]="addCandidate.name"
          name="name"
          type="name"
          required
          pInputText
        />
        <small id="username2-help" class="p-error block" *ngIf="foundIt">Toks vartotojas jau užregistruotas sistemoje!</small>
        <small id="username2-help" class="p-error block" *ngIf="empty">Įveskite Kandidato vardą!</small>
      </div>
    </div>
    <div class="col">
      <div class="p-field">
        <label class="mb-1" for="surname">Pavardė</label>
        <input
          id="surname"
          [(ngModel)]="addCandidate.surname"
          name="surname"
          type="surname"
          pInputText
        />
        <small id="username2-help" class="p-error block" *ngIf="foundIt">Toks vartotojas jau užregistruotas sistemoje!</small>
        <small id="username2-help" class="p-error block" *ngIf="empty">Įveskite Kandidato pavardę!</small>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="p-field">
        <label class="mb-1" for="linkedIn">LinkedIn Url</label>
        <input
          id="linkedIn"
          [(ngModel)]="addCandidate.linkedin"
          name="linkedIn"
          type="linkedIn"
          pInputText
        />
      </div>
    </div>
    <div class="col">
      <label class="mb-2" for="available">Ar atviras pasiūlymui?</label>
      <p-toggleButton
        [(ngModel)]="addCandidate.available"
        name="available"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
      ></p-toggleButton>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label class="mb-1" for="username1">Technologijos</label>
      <div class="p-field" style="width: 442px">
        <p-multiSelect
          [(ngModel)]="addCandidate.technologyIds"
          name="technologyIds"
          [options]="technologyOptions"
          [style]="{ width: '100%' }"
          [panelStyle]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="p-field">
        <label class="mb-1" for="date1">Kada susiekta?</label>
        <p-calendar
          [(ngModel)]="addCandidate.whenWasContacted"
          name="whenWasContacted"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
    </div>
    <div class="col">
      <div class="p-field">
        <label class="mb-1" for="date1">Planuojamas susitikimas</label>
        <p-calendar
          [(ngModel)]="addCandidate.willBeContacted"
          name="willBeContacted"
          [showIcon]="true"
          inputId="icon"
        ></p-calendar>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col ms-auto">
      <div class="p-field" style="width: 442px; min-height: 200px">
        <label class="mb-1" for="username1">Komentaras</label>
        <textarea
          pInputTextarea
          [(ngModel)]="addCandidate.comment"
          name="comments"
          [style]="{ width: '100%', height: '200px' }"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button class="btn btn-primary pt-2 pb-2" type="submit">
        Pridėti naują vartotoją
      </button>
    </div>
  </div>
</form>
