<section class="vh-100" style="background-color: #0856a1">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <div class="text-center">
              <img class="p-4" src="/assets/images/logo_rgb.svg" alt="Logo" />
            </div>
            <p-toast class="ttoast" key="myKey2"></p-toast>
            <form
              #userLoginForm="ngForm"
              autocomplete="off"
              (submit)="onSubmit(userLoginForm)"
            >
              <div class="form-floating mb-3">
                <input
                  #Email="ngModel"
                  name="Email"
                  [(ngModel)]="accountLogin.email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  required
                />
                <label for="floatingInput">El.paštas</label>
                <small
                  id="username2-help"
                  class="p-error block"
                  *ngIf="emptyEmail"
                  >Įveskite El.paštą!</small
                >
              </div>

              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  #Password="ngModel"
                  name="Password"
                  [(ngModel)]="accountLogin.password"
                  id="floatingPassword"
                  placeholder="Password"
                  required
                />
                <label for="floatingPassword">Slaptažodis</label>
                <small
                  id="username2-help"
                  class="p-error block"
                  *ngIf="emptyPassword"
                  >Įveskite slaptažodį!</small
                >
              </div>

              <!-- Checkbox -->
              <div
                class="form-check d-flex justify-content-start mt-3 mb-3 mb-1"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                />
                <label class="ps-2 form-check-label" for="form1Example3">
                  Prisiminti slaptažodį
                </label>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-primary pt-2 pb-2" type="submit">
                  Prisijungti
                </button>
              </div>
            </form>
            <div class="text-center mt-4">
              <p class="small">
                <a
                  class="text-primary text-decoration-none"
                  href="forget-password.html"
                  >Pamiršote slaptažodį?</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
