<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img
        class="img-fluid"
        src="/assets/images/logo_fav-ic.png"
        alt="icon_logo"
      />
    </button>
    <div class="logo-text" *ngIf="collapsed">XplicityHr</div>
    <button
      class="btn-close btn-close-white"
      *ngIf="collapsed"
      (click)="closeSidenav()"
    ></button>
  </div>
  <ul class="sidenav-nav list-unstyled">
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="['profile']"
        routerLinkActive="active"
      >
        <i class="sidenav-link-icon"
          ><span class="material-icons-sharp">person</span></i
        >
        <span class="sidenav-link-text" *ngIf="collapsed">{{ email }}</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="['candidates-table']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon"
          ><span class="material-icons-sharp">grid_view</span></i
        >
        <span class="sidenav-link-text" *ngIf="collapsed"> Kandidatai </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="['calendar']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon"
          ><span class="material-icons-sharp">calendar_month</span></i
        >
        <span class="sidenav-link-text" *ngIf="collapsed"> Kalendorius </span>
      </a>
    </li>
    <li class="sidenav-nav-item" *ngIf="addUser">
      <a
        class="sidenav-nav-link"
        [routerLink]="['settings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon"
          ><span class="material-icons-sharp">manage_accounts</span></i
        >
        <span class="sidenav-link-text" *ngIf="collapsed"> Vartotojai </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="onLogout()">
        <i class="sidenav-link-icon"
          ><span class="material-icons-sharp">logout</span></i
        >
        <span class="sidenav-link-text" *ngIf="collapsed">Atsijungti</span>
      </a>
    </li>
  </ul>
</div>
