<p-table
  #dt2
  [value]="customers"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  styleClass="p-datatable-customers"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Kada buvo susisiekta</th>
      <th>Vardas</th>
      <th>Pavardė</th>
      <th>LinkedIn nuoroda</th>
      <th>Komentaras</th>
      <th>Technologijos</th>
      <th>Kada reikia susisiekti</th>
      <th style="width: 6rem">Ar atviras pasiūlymams</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="country.name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          field="representative"
          matchMode="in"
          [showMenu]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="representatives"
              placeholder="Any"
              (onChange)="filter($event.value)"
              optionLabel="name"
            >
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{ option.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="statuses"
              (onChange)="filter($event.value)"
              placeholder="Any"
              [showClear]="true"
            >
              <ng-template let-option pTemplate="item">
                <span [class]="'customer-badge status-' + option.value">{{
                  option.label
                }}</span>
              </ng-template>
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="boolean" field="verified"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>
        {{ customer.name }}
      </td>
      <td>
        <span class="image-text">{{ customer.country.name }}</span>
      </td>
      <td>
        <span class="image-text">{{ customer.representative.name }}</span>
      </td>
      <td>
        <span [class]="'customer-badge status-' + customer.status">{{
          customer.status
        }}</span>
      </td>
      <td>
        <i
          class="pi"
          [ngClass]="{
            'true-icon pi-check-circle': customer.verified,
            'false-icon pi-times-circle': !customer.verified
          }"
        ></i>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Nerasta tokių kandidatų</td>
    </tr>
  </ng-template>
</p-table>

<table class="table table-striped">
  <thead>
    <th>Kada buvo susisiekta</th>
    <th>Vardas</th>
    <th>Pavardė</th>
    <th>LinkedIn nuoroda</th>
    <th>Komentaras</th>
    <th>Technologijos</th>
    <th>Ar atviras pasiūlymams</th>
    <th>Kada reikia susisiekti</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of candidateList$ | async">
      <td>{{ item.whenWasContacted[0].date | date: "yyyy/MM/dd" }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.surname }}</td>
      <td>{{ item.linkedin }}</td>
      <td>{{ item.comment }}</td>
      <td>
        <span *ngFor="let technology of item.technologies"
          >{{ technology.technologyName }},&nbsp;</span
        >
      </td>
      <td>{{ item.available }}</td>
      <td>{{ item.willBeContacted | date: "yyyy/MM/dd" }}</td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-end m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Show Technologies
</button>

<!-- Show Technology Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Technologies</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-delete-technology></app-add-edit-delete-technology>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary float-end m-2"
  tabindex="-1"
  data-bs-toggle="modal"
  data-bs-target="#addModal"
>
  Pridėti naują kandidatą
</button>

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Kandidato pridėjimas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-add-edit-candidate></app-add-edit-candidate>
        </div>
      </div>
    </div>
  </div>
</div>
