<table class="table table-striped">
  <thead>
    <th>Kada buvo susisiekta</th>
    <th>Vardas</th>
    <th>Pavardė</th>
    <th>LinkedIn nuoroda</th>
    <th>Komentaras</th>
    <th>Technologijos</th>
    <th>Ar atviras pasiūlymams</th>
    <th>Kada reikia susisiekti</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of candidateList$ | async">
      <td>{{ item.whenWasContacted[0].date | date: "yyyy/MM/dd" }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.surname }}</td>
      <td>{{ item.linkedin }}</td>
      <td>{{ item.comment }}</td>
      <td>
        <span *ngFor="let technology of item.technologies"
          >{{ technology.technologyName }},&nbsp;</span
        >
      </td>
      <td>{{ item.available }}</td>
      <td>{{ item.willBeContacted | date: "yyyy/MM/dd" }}</td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-end m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Show Technologies
</button>

<!-- Show Technology Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Technologies</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p *ngFor="let technology of technologyList$ | async">
          {{ technology.id }} - {{ technology.technologyName }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-end m-2"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  (click)="modalAdd()"
>
  Pridėti naują kandidatą
</button>

<!-- Add New Candidate Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ modalTitle }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-add-edit-candidate></app-add-edit-candidate>
        </div>
      </div>
    </div>
  </div>
</div>
