.body {
  width: calc(100% - 5rem) !important;
  height: 100vh !important;
  margin-left: 5rem !important;
  z-index: 0 !important;
  position: relative !important;
  top: 0 !important;
  transition: all 0.2s ease !important;
  background: #f4f7fa !important;
  padding: 3rem !important;
}

.body-trimmed {
  width: calc(100% - 16.5625rem) !important;
  margin-left: 16.5625rem !important;
}

.body-md-screen {
  width: calc(100% - 5rem) !important;
  margin-left: 5rem !important;
}
